<div class="container">
  <div class="cart-content-container">
    <div class="row row-line">
      <h5>სახელი</h5>
      <p>iphone 13</p>
      <p>iphone 13</p>
      <p>iphone 13</p>
      <p>iphone 13</p>
      <p>iphone 13</p>
    </div>
    <div class="row">
      <h5>რაოდენობა</h5>
      <p>3</p>
      <p>3</p>
      <p>3</p>
      <p>3</p>
      <p>3</p>
    </div>
    <div class="row-price row">
      <h5>ფასი</h5>
      <p>$1000</p>
      <p>$1000</p>
      <p>$1000</p>
      <p>$1000</p>
      <p>$1000</p>
    </div>
    <div class="row">
      <h5>კალათა</h5>
      <p><img src="../../assets/carticon.png" /></p>
      <p><img src="../../assets/carticon.png" /></p>
      <p><img src="../../assets/carticon.png" /></p>
      <p><img src="../../assets/carticon.png" /></p>
      <p><img src="../../assets/carticon.png" /></p>
    </div>
  </div>

  <div class="shopping-cart-container">
    <div class="cart-header">
      <img src="../../assets/Vector.png" />
      <h1>ჩემი კალათა</h1>
    </div>
    <div class="cart-line"></div>
    <div class="shopping-cart">
      <div class="cart-content row">
        <h5>პროდუქტის დასახელება</h5>
        <h5>რაოდენობა</h5>
        <h5>ფასი</h5>
        <h5>ჯამი</h5>
      </div>
      <div class="delete-btn">
        <img src="../../assets/x.png" />
      </div>

      <div class="cart-details">
        <h5>iphone13</h5>
        <div class="range">
          <span>-</span>
          <h5>1</h5>
          <span>+</span>
        </div>

        <h5>$1000</h5>
        <h5>$3500</h5>
      </div>
    </div>
    <div class="shopping-cart">
      <div class="cart-content row">
        <h5>პროდუქტის დასახელება</h5>
        <h5>რაოდენობა</h5>
        <h5>ფასი</h5>
        <h5>ჯამი</h5>
      </div>
      <div class="delete-btn">
        <img src="../../assets/x.png" />
      </div>

      <div class="cart-details">
        <h5>iphone13</h5>
        <div class="range">
          <span>-</span>
          <h5>1</h5>
          <span>+</span>
        </div>

        <h5>$1000</h5>
        <h5>$3500</h5>
      </div>
    </div>
    <div class="shopping-cart">
      <div class="cart-content row">
        <h5>პროდუქტის დასახელება</h5>
        <h5>რაოდენობა</h5>
        <h5>ფასი</h5>
        <h5>ჯამი</h5>
      </div>
      <div class="delete-btn">
        <img src="../../assets/x.png" />
      </div>

      <div class="cart-details">
        <h5>iphone13</h5>
        <div class="range">
          <span>-</span>
          <h5>1</h5>
          <span>+</span>
        </div>

        <h5>$1000</h5>
        <h5>$3500</h5>
      </div>
    </div>
    <div class="shopping-cart">
      <div class="cart-content row">
        <h5>პროდუქტის დასახელება</h5>
        <h5>რაოდენობა</h5>
        <h5>ფასი</h5>
        <h5>ჯამი</h5>
      </div>
      <div class="delete-btn">
        <img src="../../assets/x.png" />
      </div>

      <div class="cart-details">
        <h5>iphone13</h5>
        <div class="range">
          <span>-</span>
          <h5>1</h5>
          <span>+</span>
        </div>

        <h5>$1000</h5>
        <h5>$3500</h5>
      </div>
    </div>
  </div>
</div>
