.container {
  box-shadow: 4px 5px 6px rgb(218, 217, 217);
  width: 600px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin-top: 40px;
  align-items: center;
}

button {
  width: 100px;
  height: 50px;
  background-color: #3b76cc;
  color: white;
  font-size: 1rem;
  border-style: none;
  cursor: pointer;
}
