<div class="container">
  <h1>რეგისტრაცია</h1>
  <form [formGroup]="registerForm">
    <div>
      <label>სახელი:</label>
      <input type="text" formControlName="userName" id="userName" />
    </div>
    <div
      *ngIf="userName.errors?.['required'] && (userName.touched || userName.dirty)"
    >
      <span>მოცემული ველის შევსება აუცილებელია</span>
    </div>
    <div
      *ngIf="userName.errors?.['minlength'] && (userName.touched || userName.dirty)"
    >
      <span>სახელი უნდა შედგებოდეს მინიმუმ 4 სიმბოლოსგან</span>
    </div>
    <div>
      <label>მეილი:</label>
      <input type="email" formControlName="email" id="email" />
    </div>
    <div *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
      <span>მოცემული ველის შევსება აუცილებელია</span>
    </div>
    <div *ngIf="email.errors?.['email'] && (email.touched || email.dirty)">
      <span>მეილის ფორმატი არასწორია</span>
    </div>

    <div>
      <label>პაროლი: </label>
      <input type="password" formControlName="password" id="password" />
    </div>

    <div
      *ngIf="password.errors?.['required'] && (password.touched || password.dirty)"
    >
      <span>მოცემული ველის შევსება აუცილებელია</span>
    </div>
    <div
      *ngIf="password.errors?.['minlength'] && (password.touched || password.dirty)"
    >
      <span>პაროლი უნდა შედგებოდეს მინიმუმ 4 სიმბოლოსგან</span>
    </div>

    <div class="registerButton">
      <input
        type="submit"
        value="რეგისტრაცია"
        class="submit"
        [ngStyle]="{
          backgroundColor: registerForm.invalid ? 'lightblue' : ''
        }"
        [disabled]="registerForm.invalid"
        (click)="onSubmit()"
      />
    </div>
    <div class="message">
      <span class="message"> {{ message }}</span>
    </div>

    <a [routerLink]="''">ავტორიზაცია</a>
  </form>
</div>
